/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  font-family: sans-serif;
}

header {
  height: 90px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px gray;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.left {
  float: left;
}

.btn {
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-gray {
  color: black;
  background-color: lightgray;
}

.btn-black {
  color: white;
  background-color: black;
}

.header-wrapper {
  width: 90%;
  height: 100%;
  margin: auto;
}

ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

ul li {
  display: inline-block;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: gray;
  transition: 0.1s;
}

ul li a.selected{
  color: black;
}

ul li a:hover{
  color: black;
}

/* HEADER-LEFT */
.header-left {
  width: 30%;
  height: 100%;
  background-color: lightgreen;
}

.header-left .header-logo {
  margin-right: 100px;
}

/* HEADER-RIGHT */
.header-right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-right > ul {
  width: 70%;
  margin-left: 200px;
}

.header-right .header-buttons{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.header-right .header-buttons a {
  text-decoration: none;
}

/* DROPDOWN */
.header-right > ul > li {
  position: relative;
}

.header-right .dropdown {
  position: absolute;
  display: none;
  top: 40px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
}

.dropdown .dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.dropdown .dropdown-list li {
  margin: 10px 0;
}

.dropdown .dropdown-list li h5 {
  color: gray;
  text-transform: uppercase;
}

.dropdown-list a {
  font-size: 15px;
}

.dropdown.features {
  width: 800px;
  left: -300px;
}

.active{
  display: flex;
}